@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
}

body {
    background: #010405;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #010405, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.sec {
    position: relative;
    padding: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.sec h2 {
    font-size: 5em;
    color: #ff9425;
    margin-bottom: 20px;
}

.sec .botones {
    margin-top: 3rem;
}

.anime-images{
    position: absolute;
    max-width: 240px;
    min-width: 40px;
    max-height: 240px;
    border-radius: 5px;
    border: 1px solid #ff9425;
}

.image-container{    
    display: flex; 
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}

.img-final {
    width: 100%;
    height: 50vh;
    opacity: 0;
}

button {
    font-size: 1.5rem;
    text-transform:uppercase;
    background: transparent;
    background: #ff9425;
    color:#000;
    padding: 1rem;
    letter-spacing: .2rem;
    font-weight: bolder;
    border: none;
    outline: none;
    cursor: pointer;
}

@media (max-width:450px){

    html {
        font-size: 40%;
    }

    section {
        height: 40vh;
    }

    .image-container{    
        height: 50vh;
    }

    .anime-images{
        max-width: 160px;
        min-width: 40px;
        max-height: 140px;
    }

    .img-final {
        width: 100%;
        height: 50vh;
        opacity: 1;
    }

}